#### **Exploratory Data Analysis**

In [28]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
df=pd.read_csv('C:\\Users\\Hp\\Desktop\\learning\\Python-Guide\\practicePandas\\thyroid2(2).csv')
df1=pd.read_csv('C:\\Users\\Hp\\Desktop\\learning\\Python-Guide\\practicePandas\\Thyroid_Diff.csv')

In [29]:
#df1['Physical Examination'].unique()
df.set_index('patient id',inplace=True)

In [30]:
# During EDA code will generate different warnings so lets disable all the warnings
import warnings
warnings.filterwarnings('ignore')

#### **Display Top 5 Rows of the Dataset**

In [31]:
df.head()

,Age,Gender,Smoking,Hx Smoking,Hx Radiothreapy,Thyroid Function,Physical Examination,Adenopathy,Pathology,Focality,Risk,T,N,M,Stage,Response,Recurred
patient id,,,,,,,,,,,,,,,,,
10,27,0,0,0,0,0,0,0,0,0,1,1,1,0,1,0,0
12,34,0,0,1,0,0,1,0,0,0,1,1,1,0,1,1,0
14,30,0,0,0,0,0,2,0,0,0,1,1,1,0,1,1,0
16,62,0,0,0,0,0,2,0,0,0,1,1,1,0,1,1,0
18,62,0,0,0,0,0,1,0,0,1,1,1,1,0,1,1,0

#### **Display Last 5 Rows of the Dataset**

In [32]:
df.tail()

,Age,Gender,Smoking,Hx Smoking,Hx Radiothreapy,Thyroid Function,Physical Examination,Adenopathy,Pathology,Focality,Risk,T,N,M,Stage,Response,Recurred
patient id,,,,,,,,,,,,,,,,,
728,72,1,1,1,1,0,2,1,1,0,3,7,3,1,5,3,1
730,81,1,1,0,1,0,1,2,1,1,3,7,3,1,5,2,1
732,72,1,1,1,0,0,1,4,1,1,3,7,3,1,5,2,1
734,61,1,1,1,1,1,1,2,3,1,3,7,3,0,4,2,1
736,67,1,1,0,0,0,1,4,1,1,3,7,3,0,4,2,1

#### **Print Rnadom 5 Rows of the dataset**

In [33]:
df.sample(10)

,Age,Gender,Smoking,Hx Smoking,Hx Radiothreapy,Thyroid Function,Physical Examination,Adenopathy,Pathology,Focality,Risk,T,N,M,Stage,Response,Recurred
patient id,,,,,,,,,,,,,,,,,
102,29,0,0,0,0,0,1,0,2,0,1,2,1,0,1,1,0
350,30,0,0,0,0,0,2,0,1,0,1,3,1,0,1,1,0
462,34,0,0,0,0,0,1,4,1,0,2,4,3,0,1,0,0
358,44,0,0,0,0,0,1,0,1,1,1,3,1,0,1,1,0
574,63,0,0,0,0,0,2,0,2,0,2,4,1,0,2,0,1
586,31,0,0,0,0,0,1,4,1,1,2,4,3,0,1,2,1
194,57,0,1,0,0,0,1,0,2,0,1,3,1,0,1,1,0
190,31,0,0,0,0,0,0,0,3,0,1,3,1,0,1,0,0
580,26,0,0,0,0,0,0,3,1,0,2,4,3,1,1,2,1
374,25,0,0,0,0,0,2,1,1,1,1,3,3,0,1,1,0

#### **Find the number of Observation and Number of Columns in dataset**

In [34]:
print('Number of rows are:',df.shape[0])
print('Number of rows are:',df.shape[1])

Number of rows are: 364
Number of rows are: 17

#### **Check for the Null Values in the dataset**

In [35]:
df.isnull().sum()

Age                     0
Gender                  0
Smoking                 0
Hx Smoking              0
Hx Radiothreapy         0
Thyroid Function        0
Physical Examination    0
Adenopathy              0
Pathology               0
Focality                0
Risk                    0
T                       0
N                       0
M                       0
Stage                   0
Response                0
Recurred                0
dtype: int64

#### **Get Information about dataset like total number of observations/columns, datatypes of each column & memory requirement**

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 364 entries, 10 to 736
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Age                   364 non-null    int64
 1   Gender                364 non-null    int64
 2   Smoking               364 non-null    int64
 3   Hx Smoking            364 non-null    int64
 4   Hx Radiothreapy       364 non-null    int64
 5   Thyroid Function      364 non-null    int64
 6   Physical Examination  364 non-null    int64
 7   Adenopathy            364 non-null    int64
 8   Pathology             364 non-null    int64
 9   Focality              364 non-null    int64
 10  Risk                  364 non-null    int64
 11  T                     364 non-null    int64
 12  N                     364 non-null    int64
 13  M                     364 non-null    int64
 14  Stage                 364 non-null    int64
 15  Response              364 non-null    int64
 16  Recurred              364 non-null    int64
dtypes: int64(17)
memory usage: 51.2 KB

#### **Get overall Statistics about the dataset**

In [37]:
df.describe()
#in following 25%,50%,75% are percentiles such as in Age column
# 25% values are below 30 
# 50% values are below 38
# 75% values are below 52
# max value is 82

,Age,Gender,Smoking,Hx Smoking,Hx Radiothreapy,Thyroid Function,Physical Examination,Adenopathy,Pathology,Focality,Risk,T,N,M,Stage,Response,Recurred
count,364.00000,364.000000,364.000000,364.000000,364.000000,364.000000,364.000000,364.000000,364.000000,364.000000,364.000000,364.000000,364.000000,364.000000,364.000000,364.000000,364.000000
mean,41.25000,0.195055,0.134615,0.076923,0.019231,0.315934,1.203297,0.689560,1.063187,0.373626,1.456044,3.241758,1.571429,0.049451,1.255495,1.208791,0.296703
std,15.31436,0.396788,0.341782,0.266836,0.137524,0.910102,0.895283,1.304707,0.646130,0.484432,0.651966,1.359312,0.870614,0.217105,0.791203,0.792756,0.457433
min,15.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000
25%,30.00000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,3.000000,1.000000,0.000000,1.000000,1.000000,0.000000
50%,38.00000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,3.000000,1.000000,0.000000,1.000000,1.000000,0.000000
75%,52.00000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,1.000000,1.000000,1.000000,2.000000,4.000000,3.000000,0.000000,1.000000,2.000000,1.000000
max,82.00000,1.000000,1.000000,1.000000,1.000000,4.000000,4.000000,5.000000,3.000000,1.000000,3.000000,7.000000,3.000000,1.000000,5.000000,3.000000,1.000000

### **Univariate Analysis**
#### 1:**

In [38]:
#---------------------------------------------------------- Understanding Eaxh Column --------------------------------------------------------------------